
<h1 class="header">Customers</h1>
<div class="search">

    <div>
      <label>filter : </label>
      <input type="text" id="search" [(ngModel)]="searchText" placeholder="search" >
      <button class="button" (click)="openDialog()" >Add New Customer</button>
    </div>






</div>
<hr>
<div>
<table class="user-table">
  <thead>
    <tr>
      <th *ngFor="let key of tabKeys">
         {{key}}
      </th>
    </tr>
  </thead>

   <tbody>
    <tr *ngFor="let arr of users  | filter:searchText">
     <td>{{arr.firstName}}</td>
     <td>{{arr.lastName}}</td>
     <td>{{arr.Address}}</td>
     <td>{{arr.city}}</td>
     <td>{{arr.state}}</td>
     <td>{{arr.orderTotal}}</td>
    </tr>

   </tbody>


</table>
</div>
